body{
    background-color: #000000e6;
    margin: 0%;
}
.logoySign{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}

header{
        font-size: 30px;
        font-family: 'Noto Sans', sans-serif; 
    } 

a{
    color: whitesmoke;
    text-decoration: none;
}


.header-listas{
    display: flex;
    justify-content: space-around;
border-radius: 25px;
  background:  #aba4a422;
  padding: 20px;
  width: 1240px;
  height: 40px;
  padding-left: 5%;
}
.header-listas li{
    display: inline;
}
.img-elite{
    
   
    padding: 5%;
   

}
   p {
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
   }
.detalle-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    text-align: center;
    
    
}
.detalle-info{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.logoheadertop{
    max-width: 62px;
    padding-right: 60%;
    padding-bottom: 60%;
 }

   footer{
    height: 150px;  
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
   }
  
   footer .logo-insta{
    max-width: 95px;
    padding-bottom: 15%;
 }

 footer .logo-fb{
    max-width: 80px;
    padding-top: 6%;
 }
 footer .logo-tw{
     max-width: 58px;
     padding-top: 25%;

 }
  
   .listas-footer  {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
       list-style: none;
       
   }
  
   h5{
      font-family: 'Noto Sans', sans-serif;
      padding-top: 10%;
     }



     .topnav {
        overflow: hidden;
     
    }
    
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 9px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }
    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
  
  