body{
    background-color:#000000e6;
    margin: 0%;
}

.logoySign{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}

header{
        font-size: 30px;
        font-family: 'Noto Sans', sans-serif; 
        background-image: linear-gradient(to right, rgba(55, 23, 23, 0.133), rgb(225, 14, 14))
    } 

a{
    color: whitesmoke;
    text-decoration: none;
}

.header-listas{
    display: flex;
    justify-content: space-around;
border-radius: 25px;
  background:  #aba4a422;
  padding: 20px;
  width: 1240px;
  height: 40px;
  padding-left: 5%;
}

.header-listas li{
    display: inline;
}

.slider {
    width: 100%;
    height: -50px;
	margin: 0%;
    background-color: black;
    padding: 0%;
}

.slider ul {
	display: flex;
	padding: 0;
    width: 400%;

	animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    height: 400px;
}

.slider img {
    width: 100%;
    height: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
 
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color:#aba4a422;
    color: white;
    font-size: 40px;
    padding: 19px 35px;
    margin-top: 260%;
    font-family: 'Noto Sans', sans-serif;
  }



.bloques-categorias {
    max-width: 100px;
 }

 .bloques-categorias img {
    max-width: 100px;
 }
 
.logoheadertop{
    max-width: 40px;
    padding-right: 80%;
    padding-bottom: 90%;
 }

 footer{
border-style: solid;
border-color: rgba(0, 0, 0, 0.249);
border-width: thick;
height: 150px;  
color: whitesmoke;
font-family: 'Noto Sans', sans-serif;
padding: 10px;
 }

 footer .logo-insta{
    max-width: 95px;
    padding-bottom: 15%;
 }

 footer .logo-fb{
    max-width: 80px;
    padding-top: 6%;
 }
 footer .logo-tw{
     max-width: 58px;
     padding-top: 25%;

 }

 .listas-footer  {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     list-style: none;
 }

 h5{
    font-family: 'Noto Sans', sans-serif;
    padding-top: 10%;
   }

.container1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4%;
    padding: 0%;
    margin-bottom: 0%;
    height: 300px;
}

.container1 img{
    height: 200px;
}

.pelis{
 color: white;
font-family: "Noto Sans", sans-serif;
text-align: center;
overflow: hidden;
 }

h2{
    color: white;
    font-family: 'Noto Sans', sans-serif ;
    text-align: left;
   padding-left: 4%;
   padding-bottom: 3%;
   padding-top: 3%;

}

.accion{
background-color: #00000017;
}





.topnav {
    overflow: hidden;
 
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 9px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}



